<h2>Rooms</h2>

<% @rooms.each do |r| %>
  <div style='border: 1px solid'>
    <h3>
      <% if current_user == @guesthouse.user %>
        <%= link_to r.name, r %>
      <% else %>
        <%= r.name %>
      <% end %>
    </h3>
    <div>
      <dl>
        <strong><dt>Description</dt></strong>
        <dd><%= r.description %></dd>

        <strong><dt>Maximum Guests</dt></strong>
        <dd><%= r.maximum_guests %></dd>

        <strong><dt>Dimension</dt></strong>
        <dd><%= r.dimension %></dd>

        <strong><dt>Amenities</dt></strong>
        <% r.amenities.each do |a| %>
          <dd><%= a.name %></dd>
        <% end %>

        <strong><dt>Daily Price</dt></strong>
        <dd>$<%= r.daily_price %></dd>
      </dl>

      <p><%= link_to 'Book', new_room_reservation_path(r) %></p>

      <% if current_user == @guesthouse.user %>
        <p><%= link_to 'Edit Room', edit_room_path %></p>
      <% end %>
    </div>    
  </div>
  <br>
<% end %>
