<h1><%= @guesthouse.brand_name %></h1>

<%= render 'guesthouse' %>

<% if current_user == @guesthouse.user %>
  <p><%= link_to 'Edit', edit_guesthouse_path %></p>
<% end %>

<h2>Rooms</h2>
<p><%= link_to 'Register Room', new_room_path %></p>

<%= render 'rooms' %>

<% if @rooms.empty? %>
  <p>There are no registered rooms!</p>
<% end %>


