<hr>
<h1>New Booking</h1>

<hr>
<h1><%= @room.name %></h1>

<div>
  <dl>
    <strong><dt>Description</dt></strong>
    <dd><%= @room.description %></dd>

    <strong><dt>Maximum Guests</dt></strong>
    <dd><%= @room.maximum_guests %></dd>

    <strong><dt>Dimension</dt></strong>
    <dd><%= @room.dimension %></dd>

    <strong><dt>Amenities</dt></strong>
    <% @room.amenities.each do |a| %>
      <dd><%= a.name %></dd>
    <% end %>

    <strong><dt>Daily Price</dt></strong>
    <dd>$<%= @room.daily_price %></dd>
  </dl> 
</div>

<div class='reservation-form'>
  <%= form_with model: [@room, @reservation], data: { turbo: false } do |f| %>
    <div>
      <%= f.label :start_date, 'Start Date' %>
      <%= f.date_field :start_date %>

      <%= f.label :end_date, 'End Date' %>
      <%= f.date_field :end_date %>
    </div>

    <div>
      <%= f.label :num_guests, 'Number of Guests' %>
      <%= f.number_field :num_guests %>    
    </div>

    <div>
      <%= f.label :status %>
      <%= f.select :status, ['pending', 'confirmed', 'canceled'] %>
    </div>

    <div>
      <p><%= f.submit 'Send' %></p>
    </div>
  <% end %>
</div>