<!DOCTYPE html>
<html>
  <head>
    <title>BnbApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1>B&B</h1>
      <% end %>
      <nav>        
        <% if user_signed_in? %>
          <%= link_to 'My Guesthouse', guesthouses_path %>  |
          <%= current_user.email %>
          <p><%= button_to 'Sign out', destroy_user_session_path, method: :delete %></p>
        <% else %>
          <%= link_to 'Register Your Guesthouse', new_user_session_path %> |
          <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
      </nav>

      <%= yield %>
    </header>
    <main>
      <div>
        <p><%= notice %></p>
        <p><%= alert %></p>
      </div>
    </main>
  </body>
</html>
